[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
	ignore = untracked
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	ignore = untracked
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
	ignore = untracked
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
	ignore = untracked
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
	ignore = untracked
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
	ignore = untracked
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vim/bundle/nerdtree-tabs"]
	path = vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	ignore = untracked
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = https://github.com/tpope/vim-haml.git
	ignore = untracked
[submodule "vim/bundle/markdown-folding"]
	path = vim/bundle/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
	ignore = untracked
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
	ignore = untracked
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	ignore = untracked
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "vim/bundle/colors-solarized"]
	path = vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = untracked
[submodule "vim/bundle/autocomplpop"]
	path = vim/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
	ignore = untracked
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
	ignore = untracked
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
	ignore = untracked
[submodule "vim/bundle/dbext"]
	path = vim/bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
	ignore = untracked
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
	ignore = untracked
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
	ignore = untracked
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = untracked
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "vim/bundle/colors-vividchalk"]
	path = vim/bundle/colors-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
	ignore = untracked
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = untracked
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
	ignore = untracked
[submodule "vim/bundle/rspec"]
	path = vim/bundle/rspec
	url = https://github.com/skwp/vim-rspec.git
	ignore = untracked
[submodule "vim/bundle/tslime"]
	path = vim/bundle/tslime
	url = https://github.com/jgdavey/tslime.vim.git
	ignore = untracked
[submodule "vim/bundle/turbux"]
	path = vim/bundle/turbux
	url = https://github.com/jgdavey/vim-turbux.git
	ignore = untracked
[submodule "vim/bundle/qargs"]
	path = vim/bundle/qargs
	url = https://github.com/nelstrom/vim-qargs.git
	ignore = untracked
[submodule "vim/bundle/ruby-refactoring"]
	path = vim/bundle/ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
	ignore = untracked
[submodule "vim/bundle/ruby-debugger"]
	path = vim/bundle/ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger.git
	ignore = untracked
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = untracked
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
	ignore = untracked
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
	ignore = untracked
[submodule "vim/bundle/rdoc"]
	path = vim/bundle/rdoc
	url = https://github.com/depuracao/vim-rdoc.git
	ignore = untracked
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = https://github.com/tpope/vim-rake.git
	ignore = untracked
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = untracked
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = untracked
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = https://github.com/vim-scripts/Gist.vim.git
	ignore = untracked
[submodule "vim/bundle/ruby-doc"]
	path = vim/bundle/ruby-doc
	url = git://github.com/lucapette/vim-ruby-doc.git
	ignore = untracked
[submodule "vim/bundle/jquery"]
	path = vim/bundle/jquery
	url = https://github.com/itspriddle/vim-jquery.git
	ignore = untracked
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
	ignore = untracked
[submodule "vim/bundle/colorselector"]
	path = vim/bundle/colorselector
	url = https://github.com/c9s/colorselector.vim.git
	ignore = untracked
[submodule "vim/bundle/gsession"]
	path = vim/bundle/gsession
	url = https://github.com/c9s/gsession.vim.git
	ignore = untracked
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
	ignore = untracked
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
	ignore = untracked
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
	ignore = untracked
[submodule "vim/bundle/argtextobj"]
	path = vim/bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
	ignore = untracked
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline
	ignore = untracked
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
	ignore = untracked
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
	ignore = untracked
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
	ignore = untracked
