[submodule "zsh_custom/plugins/autosuggestions"]
	path = zsh_custom/plugins/autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fasd"]
	path = fasd
	url = https://github.com/clvv/fasd.git
[submodule "sack"]
	path = sack
	url = https://github.com/sampson-chen/sack.git
[submodule "zsh_custom/themes/powerlevel9k"]
	path = zsh_custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
